a{
    margin-right: 10px;
} 

img{
    max-width: 100%;
}

.entry-information{
    display: flex;
}

.entry-information-text{
    width: 50%;
}

.cabinet-inf{
    display: flex;
}

.cabinet-inf-img{
    max-width: 50%;
}

.features-wrapper{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.feature-container{
    width: 300px;
    margin-right: 100px;
}

.fop-inst-list{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 10px;
}

.fop-inst-element{
    width: 350px;
    margin-right: 50px;
}

th{
    border: 1px solid black;
}

.get-card-wrapper{
    display: flex;
}

.get-card-text{
    width: 50%;
}

.get-card-note{
    border-left: 3px solid black;
}






