<header>

  <section>

      <nav>

        <span class="common-navigation-list">
          
          <a href="#">Дашборд</a>
    
          <a href="#">Тарифи</a>
    
          <a href="#">API</a>
    
          <a href="#">Контакти</a>
    
          <a href="#">Мова</a>

        </span>

      </nav>

  </section>

  <section>
    <nav>
      <span class="monobank-logo">monobank</span>
      |
      <span class="ub-logo">Universal Bank</span>

      <span class="navigation-list">

        <a href="">Картки</a>
      
        <a href="">Фоп</a>
      
        <a href="">Депозити</a>
      
        <a href="">Облігації</a>
      
        <a href="">Покупка частинами</a>
      
        <a href="">Міжнародні перекази</a>

      </span>
  
    </nav>

  </section>

</header>

<main>

  <section class="entry-information">

    <div class="entry-information-text">

      <h1>Ми знову прибрали все зайве, щоб ви отримали кращий досвід.</h1>

      <h3>Залиште номер телефону, і ми надішлемо посилання на додаток, де можна відкрити рахунок ФОП</h3>

      <form class="input-form">

        <input type="tel" placeholder="+380 (XX) XXX-XX-XX">
          
        <button class="button button-fop">Хочу рахунок ФОП</button>

      </form>

    </div>

    <div class="entry-information-img">

      <img src="https://static.nv.ua/shared/system/MediaPhoto/images/000/028/904/original/a4e39fee435ecd4f074c733f40693ca5.png" alt="*Картика котика*">

    </div>

  </section>

  <section class="cabinet-inf">

    <div class="cabinet-inf-img">

      <img src="https://www.monobank.ua/resources/1.0.19.0-1655197221000/img/fop/mockups-uk@2x.webp" alt="**">

    </div>

    <div class="cabinet-inf-text">

      <h1>Бухгалтерський кабінет</h1>

      <h3>Окремий бухгалтерський кабінет для керування рахунком ФОП. <br><br> Можна додати до двох додаткових номерiв телефону для роботи у веб-кабінеті.</h3>

      <button class="button button-cab">Увійти в кабінет</button>

    </div>

  </section>

  <section class="features">

    <h1 class="features-title">Ви так довго цього чекали</h1>

    <div class="features-wrapper">

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Повністю дистанційне обслуговування: не потрібно відвідувати точку видачі або звертатися до відділення</b>
      </p>

    </div>

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Керування всіма рахунками monobank в одному додатку</b><br> 
        Один додаток для ФОП і особистого рахунку      
      </p>

    </div>

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Платежі з валютних рахунків 24/7/365, а не тільки з 10:00 до 15:00</b><br>
        Не потрібно чекати поки відкриється міжбанк, щоб продати валюту. Валютообмін 24/7
      </p>

    </div>

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Окремий бухгалтерський веб-кабінет . Можна додати до двох додаткових номерiв телефону для роботи у веб-кабінеті з рахунком ФОП</b>
      </p>

    </div>

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Вигідний курс обміну валют</b>
      </p>

    </div>

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Дружній фінансовий моніторинг і валютний контроль</b>
      </p>

    </div>

    </div>

  </section>

</main>