a{
    margin-right: 10px;
    text-decoration: none;
} 

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
}

h2{
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

p{
    font-family: "Lato",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.44;
}

input{
    border: none;
    width: 100%;
    background-color: inherit;
    padding-left: 24px;
}

input:focus{
    
    border: none;
    outline: none;
}

input::placeholder{
    font-size: 18px;
    font-weight: 700;

    color: #C4B0F1;
}

.input-container{
    width: 288px;
    height: 56px;

    display: flex;
    align-items: center;


    border-radius: 16px;

    background-color: #8963E5;

}

.input-form{
    display: flex;
    padding-top: 30px;
}

.button-fop-container{
    width: 248px;
    height: 56px;

    display: flex;
    align-items: center;

    border-radius: 16px;

    margin-left: 16px;

    background-color: white;

}

.button-fop{
    border: none;
    width: 100%;
    height: 100%;

    border-radius: 16px;
    background-color: inherit;

    font-size: 18px;
    font-weight: 700;

    color: #6560E1;
}

.button-fop:hover{
    cursor: pointer;
}

#white{
    color: white;
}

.header-common-nav{
    padding: 20px 20px;
    background-color: #F6F6F6;
}

.header-nav{ 
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;

    font-size: 12px;
    font-weight: 500;
}

.common-navigation-li{
    margin-right: 20px;
}

#cnlink{
    color: #909090;
}

.header-nav-bar{
    padding: 30px 74px;
}

.logo{
    width: 233px;
}

.navigation-list{
    float: right;
}

.nav-list-item{
    margin-left: 18px;

    font-size: 13px;
    font-weight: 800;
}

#mnlink{
    color: black;
    transition: all 0.25s;
}

#mnlink:hover{
    color: red;
}

#mnlink.selected{
    color: red;
}

.entry-information{
    background: linear-gradient(#6560E1, #6945DE);
}

.entry-information-wrapper{
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;

    padding-left: 74px;
}

.entry-information-text{
    width: 50%;
}

.entry-information-img{
    width: 504px;
}

.cabinet-inf{
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
}

#cabinet-img{
    width: 552px;
    padding-left: 74px;
}

.cabinet-inf-text{
    width: 496px;
    padding-left: 74px;

}

.button-cab-container{
    width: 248px;
    height: 56px;

    margin-top: 60px;

    display: flex;
    align-items: center;

    border-radius: 16px;

    background-color: #6945DE;
}

.button-cab{
    border: none;
    width: 100%;
    height: 100%;

    border-radius: 16px;
    background-color: inherit;

    font-size: 18px;
    font-weight: 700;

    color: white;
}

.button-cab:hover{
    cursor: pointer;
}

.features{
    padding-left: 74px;
}

.features-wrapper{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.feature-container{
    width: 20%;
    margin-right: 100px;
    margin-top: 72px;
    padding-right: 58px;
}

.feature-png-container{
    display:flex;

    background-color: black;

    height: 70px;
    width: 70px;

    border-radius: 42%;
}

.feature-png{
    margin: auto;
    height: 32px;
}

.fop-inst-list{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 10px;
}

.fop-inst-element{
    width: 350px;
    margin-right: 50px;
}

th{
    border: 1px solid black;
}

.get-card-wrapper{
    display: flex;
}

.get-card-text{
    width: 50%;
}

.get-card-note{
    border-left: 3px solid black;
}

.bank-nav-section{
    width: 200px;
    float: left;
}

.cards-nav-section{
    width: 200px;
    float: left;
}

.products-nav-section{
    width: 200px;
    float: left;
}

aside{
    width: 240px;
    float: left;
    margin-left: 40px;
}

.social-media-icon{
    width: 50px;
    height: 50px;
}






