<header>

  <section class="header-common-nav">

      <nav class="header-nav">

        <span class="common-navigation-list">
          
          <a href="#">Дашборд</a>
    
          <a href="#">Тарифи</a>
    
          <a href="#">API</a>
    
          <a href="#">Контакти</a>
    
          <a href="#">Мова</a>

        </span>

      </nav>

  </section>

  <section>
    <nav>
      <span class="monobank-logo">monobank</span>
      |
      <span class="ub-logo">Universal Bank</span>

      <span class="navigation-list">

        <a href="">Картки</a>
      
        <a href="">Фоп</a>
      
        <a href="">Депозити</a>
      
        <a href="">Облігації</a>
      
        <a href="">Покупка частинами</a>
      
        <a href="">Міжнародні перекази</a>

      </span>
  
    </nav>

  </section>

</header>

<main>

  <section class="entry-information">

    <div class="entry-information-text">

      <h1>Ми знову прибрали все зайве, щоб ви отримали кращий досвід.</h1>

      <h3>Залиште номер телефону, і ми надішлемо посилання на додаток, де можна відкрити рахунок ФОП</h3>

      <form class="input-form">

        <input type="tel" placeholder="+380 (XX) XXX-XX-XX">
          
        <button class="button button-fop">Хочу рахунок ФОП</button>

      </form>

    </div>

    <div class="entry-information-img">

      <img src="https://static.nv.ua/shared/system/MediaPhoto/images/000/028/904/original/a4e39fee435ecd4f074c733f40693ca5.png" alt="*Картика котика*">

    </div>

  </section>

  <section class="cabinet-inf">

    <div class="cabinet-inf-img">

      <img src="https://www.monobank.ua/resources/1.0.19.0-1655197221000/img/fop/mockups-uk@2x.webp" alt="**">

    </div>

    <div class="cabinet-inf-text">

      <h1>Бухгалтерський кабінет</h1>

      <h3>Окремий бухгалтерський кабінет для керування рахунком ФОП. <br><br> Можна додати до двох додаткових номерiв телефону для роботи у веб-кабінеті.</h3>

      <button class="button button-cab">Увійти в кабінет</button>

    </div>

  </section>

  <section class="features">

    <h1 class="features-title">Ви так довго<br> цього чекали</h1>

    <div class="features-wrapper">

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Повністю дистанційне обслуговування: не потрібно відвідувати точку видачі або звертатися до відділення</b>
      </p>

    </div>

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Керування всіма рахунками monobank в одному додатку</b><br> 
        Один додаток для ФОП і особистого рахунку      
      </p>

    </div>

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Платежі з валютних рахунків 24/7/365, а не тільки з 10:00 до 15:00</b><br>
        Не потрібно чекати поки відкриється міжбанк, щоб продати валюту. Валютообмін 24/7
      </p>

    </div>

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Окремий бухгалтерський веб-кабінет . Можна додати до двох додаткових номерiв телефону для роботи у веб-кабінеті з рахунком ФОП</b>
      </p>

    </div>

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Вигідний курс обміну валют</b>
      </p>

    </div>

    <div class="feature-container">

      <img src="http://google.com/favicon.ico" alt="">

      <p class="feature-text">
        <b>Дружній фінансовий моніторинг і валютний контроль</b>
      </p>

    </div>

    </div>

  </section>

  <section class="fop-instruction">

    <h1 class="fop-instruction-title">Як відкрити<br>рахунок ФОП</h1>

    <div class="fop-instruction-wrapper">

      <ol class="fop-inst-list">

        <li class="fop-inst-element">

          <div class="fop-inst-img-container">

            <img src="https://www.monobank.ua/resources/1.0.19.0-1655197221000/img/fop/1.webp" alt="">

          </div>

          <p class="fop-inst-text">

            Пройти швидку реєстрацію в додатку monobank та отримати картку

          </p>

        </li>

        <li class="fop-inst-element">

          <div class="fop-inst-img-container">

            <img src="https://www.monobank.ua/resources/1.0.19.0-1655197221000/img/fop/2.webp" alt="">

          </div>

          <p class="fop-inst-text">

            Бути зареєстрованим як фізична особа-підприємець

          </p>

        </li>

        <li class="fop-inst-element">

          <div class="fop-inst-img-container">

            <img src="https://www.monobank.ua/resources/1.0.19.0-1655197221000/img/fop/3.webp" alt="">

          </div>

          <p class="fop-inst-text">

            Відкрити рахунок ФОП у додатку monobank в 1 торкання

          </p>

        </li>

      </ol>

    </div>

  </section>

  <section class="tariffs">

    <h1 class="tariffs-title">Тарифи</h1>

    <div class="tariffs-wrapper">

      <table class="tariffs-table">

        <tr>
 
          <th></th>
          <th>monobank <br> Universal Bank</th>
          <th>Банк 1</th>
          <th>Банк 2</th>
          <th>Банк 3</th>

        </tr>
        <tr>

          <th>Вартість відкриття рахунку</th>
          <th>0 грн</th>
          <th>0 грн онлайн <br> 100 грн у відділенні</th>
          <th>1 грн</th>
          <th>50 грн</th>

        </tr>
        <tr>

          <th>Вартість обслуговування <br> рахунку на місяць</th>
          <th>0 грн</th>
          <th>125 грн</th>
          <th>100 грн</th>
          <th>129 грн</th>

        </tr>
        <tr>

          <th>Комісія за переказ на <br> рахунки інших банків</th>
          <th>0 грн</th>
          <th>3 грн</th>
          <th>3 грн</th>
          <th>2 грн</th>

        </tr>   

      </table>

    </div>

  </section>

  <section class="get-card">

    <div class="get-card-wrapper">

      <div class="get-card-text">

        <h1 class="get-card-title">Немає картки monobank?</h1>

        <p class="get-card-content">Не страшно, її можна отримати просто зараз</p>

        <button class="button get-card-button">Отримати картку</button>

        <p class="get-card-note">Відкриття картки ні до чого не зобов'язує. Крім рахунка ФОП у нас дуже багато крутих пропозицій</p>

      </div>

      <div class="get-card-img"></div>

        <img src="https://www.monobank.ua/resources/1.0.19.0-1655197221000/img/fop/card.webp" alt="">

    </div>

  </section>

</main>

<footer>

  <div class="footer-title">

    <div class="footer-main-title">

      <h1>monobank | Universal Bank</h1>

    </div>

    <p class="footer-add-title">Щоб стати клієнтом, потрібно мати смартфон на Android або iOS</p>

  </div>

  <nav class="footer-nav">
  
    <div class="bank-nav-section">

      <h1 class="bank-title">Банк</h1>

      <ul class="bank-menu-list">

        <li>Про банк</li>
        <li>Кар'єра</li>
        <li>Контакти</li>
        <li>Умови та правила</li>
        <li>Безпека</li>
        <li>API</li>

      </ul>

    </div>

    <div class="cards-nav-section">

      <h1 class="cards-title">Картки</h1>

      <ul class="cards-menu-list">

        <li>Чорна карта</li>
        <li>Біла карта</li>
        <li>Platinum карта</li>
        <li>Iron карта</li>
        <li>Дитяча карта</li>
        <li>єПідтримка</li>

      </ul>

    </div>

    <div class="products-nav-section">

      <h1 class="products-title">Продукти</h1>

      <ul class="products-menu-list">

        <li>Покупка частинами</li>
        <li>Розсрочка</li>
        <li>Міжнародні перекази</li>
        <li>ФОП</li>
        <li>Депозити</li>
        <li>Оплата у ресторанах</li>
        <li>Реєстрові виплати</li>
        <li>Облігації</li>
        <li>Інвестиції</li>
        <li>QR-еквайринг</li>
        <li>Інтернет-еквайринг</li>
        <li>Плати пізніше</li>

      </ul>

    </div>

  </nav>

  <aside>
    
    <div class="social-media-container">

      <a href="">
        <img class="social-media-icon" src="../assets/facebook.png" alt="">
      </a>

      <a href="">
        <img class="social-media-icon" src="../assets/twitter.png" alt="">
      </a>

      <a href="">
        <img class="social-media-icon" src="../assets/instagram.png" alt="">
      </a>

      <a href="">
        <img class="social-media-icon" src="../assets/youtube.png" alt="">
      </a>

    </div>

    <p class="footer-note">АТ «УНІВЕРСАЛ БАНК» Ліцензія НБУ №92 від 20.01.1994, Номер у держреєстрі банків № 226<br><br>
      Банк є учасником <a href="">Фонду гарантування вкладів фізичних осіб</a></p> 

  </aside>

</footer>